<html>
    <head>
        <style>
        .container{
                background-color: 'red'
            }
        .text-container{
                color: 'pink'
            }</style>
            
        
    </head>
    <body>
        <div class ="container" >
            <div class="jumbotron text-container">
                <h1><span class="fa fa-lock"></span>Node Authentication</h1>
                <p>Login or register with:</p>
                <button class="btn-btn-primary"><a href="/auth/facebook" >facebook</a></button>
            </div>

        </div>
    </body>
</html>